.js-linked-to-visual-appearance .original-select-hidden {
	left: -9999px;
	position: absolute;
	pointer-events: none;
   opacity: 0;
}
.js-linked-to-visual-appearance:not(.default-custom-select) .custom-select {
	margin: 4px 0 -4px auto;
}
.js-linked-to-visual-appearance .custom-select {
	height: 40px;
	position: relative;
	width: 219px;
}
.js-linked-to-visual-appearance .custom-select._active .custom-select__current::after {
   transform: translateY(-50%) scale(1, -1);
}
.js-linked-to-visual-appearance .custom-select__current {
	border: 1px solid #D1D1D7;
	background-color: #fff;
	border-radius: 8px;
	cursor: pointer;
	height: 100%;
	font-size: 15px;
	font-weight: 700;
	line-height: 39px;
	padding: 0 40px;
   position: relative;
	text-align: left;
	width: 100%;
	z-index: 101;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.js-linked-to-visual-appearance .custom-select__current::before {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.72727 2.54545V14M2 5.27273L4.72727 2.54545L7.45455 5.27273M11.2727 13.4545V2M14 10.7273L11.2727 13.4545L8.54545 10.7273' stroke='black' stroke-width='2' stroke-miterlimit='10'/%3e%3c/svg%3e");
	left: 15px;
}
.js-linked-to-visual-appearance .custom-select__current::before,
.js-linked-to-visual-appearance .custom-select__current::after {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	content: '';
	display: block;
	height: 16px;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	width: 16px;
}
.js-linked-to-visual-appearance .custom-select__current::after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 5.50024L8 10.5002L13 5.50024' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
	right: 16px;
}
.js-linked-to-visual-appearance .custom-select__list {
   background-color: #fff;
	border-radius: 0 0 8px 8px;
   box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.08);
	display: none;
	list-style: none;
	left: 0;
	margin: 0;
	padding: 13px 0 8px;
	position: absolute;
	top: calc(100% - 5px);
	width: 100%;
	z-index: 100;
}
.js-linked-to-visual-appearance .custom-select._active .custom-select__list {
	display: block;
}
.js-linked-to-visual-appearance .custom-select__item {
   color: #000;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	padding: 4px 16px;
}
.js-linked-to-visual-appearance .custom-select__item {
    position: relative;
}
.js-linked-to-visual-appearance .custom-select__item:hover::before,
.js-linked-to-visual-appearance .custom-select__item._selected::before {
	background-color: #F0F0F3;
	border-radius: 4px;
	content: '';
	display: block;
	height: 100%;
	left: 7px;
	position: absolute;
	top: 0;
	width: calc(100% - 13px);
	z-index: -1;
}
.js-linked-to-visual-appearance .custom-select__item._selected {
	cursor: default;
	pointer-events: none;
	user-select: none;
}

.js-linked-to-visual-appearance.default-custom-select .custom-select {
	height: 45px;
	width: 200px;
}
.js-linked-to-visual-appearance.default-custom-select .custom-select__current {
	height: 43px;
	padding-left: 16px;
}
.js-linked-to-visual-appearance.default-custom-select .custom-select__current::before {
	display: none;
}